<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body class="landing">
    <%- include('partials/nav'); %>
    <div class="container">
        <div class="hero">
            <div class="hero-left">
                <div>
                    <h5 class="mb-4">so, you want to travel to</h5>
                    <h1 class="mb-4">space</h1>
                    <p>
                        Let’s face it; if you want to go to space, you might as well genuinely go to 
                        outer space and not hover kind of on the edge of it. Well sit back, and relax 
                        because we’ll give you a truly out of this world experience!
                    </p>
                </div>
            </div>
            <div class="hero-right">
                <a href="/destination">
                <button class="explore">
                    <h4>Explore</h4>
                </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>